* {
  font-family: 'Poppins', sans-serif; /* example */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


h1 { font-size: 70px ; color: #000000;}
p { font-size: 16px ; color: #616060;}

